.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
**/*.iml
**/.idea/
android/.gradle/
android/local.properties
android/key.properties
android/upload-keystore.jks
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.DS_Store
*.log
